[phases.build]
cmds = [
    "npm run build",
    "chmod -R 775 /app/storage /app/bootstrap/cache",
    "chown -R www-data:www-data /app/storage /app/bootstrap/cache",
    "cp /app/.nixpacks/nginx.template.conf /nginx.template.conf",
]
